
.Menu-text {
    display: none;
}

aside {
    width: 100%; /* Set the width of the sidebar */
    position: relative; /* Remove fixed position */
    z-index: 1; /* Stay on top */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0.05%;
}

article {
    margin-left: 0; /* Remove margin */
    padding: 0px 5%; /* Adjust padding */
}

hr {
    border: 1px solid #000000;
    margin: 5% 0; /* Adjust margin */
}


.Home:target {
    display: block;
}

.Home:not(:target) {
    display: none;
}



@media screen and (min-width: 768px) {
    aside {
        width: 25%; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        top: 0; /* Stay at the top */
        left: 0;
        height: 100%; /* Full-height: remove this if you want "auto" height */
    }

    article {
        margin-left: 30%; /* 5% plus the width of the sidebar */
        padding: 0px 10% 15% 0%;
    }
}