html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------------------------------------------------*/
body {
    background-color: #f5f5f5; /* Light grey background */
    color: #333; /* Dark grey text */
}

main {
    display: flex; /* Display the content side by side */
    flex-direction: column;
    justify-content: flex-start; /* Space between the content */
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
}

.Menu-text {
    display: none;
}

.home-picture {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}


/* ASIDE */
/* -------------------------------------------------------------------------- */
aside {
    width: 100%; /* Set the width of the sidebar */
    height: 20vh;
    position: relative; /* Remove fixed position */
    z-index: 1; /* Stay on top */
    overflow-x: hidden; /* Disable horizontal scroll */
    background-color: #333; /* Dark grey background */
    color: #fff; /* White text */
}

.aside-list {
    display: flex; /* Display the content side by side */
    flex-flow: row wrap; /* Wrap the content */
    justify-content: space-evenly; /* Evenly space the li tags */
    margin: 10% 10%; /* Adjust padding */
}

.aside-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    margin: 10px;
}

/* -------------------------------------------------------------------------- */

/* CONTACT */
/* -------------------------------------------------------------------------- */
#contact {
    background-color: #f5f5f5; /* Light grey background */
}


#contact h3 {
    font-size: 1.5em; /* Increase the font size */
    color: #333; /* Dark grey text */
}

#contact p, #contact a {
    font-size: 1.2em; /* Increase the font size */
    color: #666; /* Grey text */
}

#contact a {
    text-decoration: none; /* Remove the underline */
}

#contact a:hover {
    color: #333; /* Dark grey text when hovered */
}

.contact-list {
    margin: 50px 10% 50px 10%; /* Add some margin to the top and bottom */
    display: flex; /* Display the content side by side */
    flex-flow: row wrap; /* Wrap the content */
    justify-content: space-between; /* Evenly space the li tags */
}

.contact-list-item {
    margin: 10px 0px;
}


/* ARTICLE */
/* -------------------------------------------------------------------------- */
article {
    display: flex; /* Display the content side by side */
    flex-flow: column wrap; /* Wrap the content */
    flex: 0 1 auto; /* Adjust the width */
}

.article-title {
    font-size: 2em; /* Increase the font size */
    color: #333; /* Dark grey text */
}

.article-title {
    padding: 5% 5% 0% 5%; /* top,right,bottom,left */
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
}

.article-text {
    padding: 5% 5% 0% 5%; /* top,right,bottom,left */
    align-self: center;
}

/* -------------------------------------------------------------------------- */
.self-picture {
    border-radius: 50%;
    margin-top: 40px;
    width: 200px;
    height: 200px;
    align-self: center;
}

/* PROJECT */
/* -------------------------------------------------------------------------- */
.project-list {
    background-color: #f9f9f9; /* Light grey background */
}

.project-item {
    margin: 10px 0; /* Add some margin to the top and bottom */
    padding: 20px; /* Add some padding */
    border-radius: 5px; /* Rounded corners */
}


·/* SECTION */
/* -------------------------------------------------------------------------- */
/* The "target" attribute is used to show the Home section */
.section {
    background-color: #fff; /* White background */
    color: #333; /* Dark grey text */
    display: flex;
    flex-flow: column wrap;
}


/* -------------------------------------------------------------------------- */

/* FOOTER */
/* -------------------------------------------------------------------------- */
.footer-style {
    display: flex;
    justify-content: center;
}

.footer-style p {
    color: #000000; /* White text */
}

@media screen and (min-width: 768px) {
    main {
        display: flex; /* Display the content side by side */
        flex-flow: column wrap; /* Wrap the content */
        justify-content: space-between; /* Space between the content */
        width: 100%; /* Full width */
        height: 100vh; /* Full height */
    }

    /* BANNERS */
    /* -------------------------------------------------------------------------- */
    .interests-banner {
        background-color: #616161; /* Dark grey background */
        color: #fff; /* White text */
        height: 12rem;
        width: 100%;
    }

    /* ASIDE */
    /* -------------------------------------------------------------------------- */
    /* change aside links colors and style */
    aside {
        width: 12%; /* Set the width of the sidebar */
        height: 100%; /* Full-height: remove this if you want "auto" height */
        border-right: 1.5px solid #000000;
    }

    .aside-list {
        display: flex; /* Display the content side by side */
        flex-flow: column wrap; /* Wrap the content */
        justify-content: space-evenly; /* Evenly space the li tags */
        margin: 10% 10%; /* Adjust padding */
    }

    /* -------------------------------------------------------------------------- */
    
    .home-picture {
        width: 100%;
        flex: 0 1 auto; /* Adjust the width */
    }

    /* ARTICLE */
    /* -------------------------------------------------------------------------- */
    article {
        flex: 1 0 100%; /* Adjust the width */
        height: 100%;
        width: 90%;
    }


    /* -------------------------------------------------------------------------- */

    /* PROJECTS LIST */
    /* -------------------------------------------------------------------------- */

    
    .project-item {
        background-color: #fff; /* White background */
        color: #333; /* Dark grey text */

    }
    
    .project-title {
        font-size: 1.5em; /* Increase the font size */
        margin-bottom: 10px; /* Add some margin to the bottom */
    }
    
    .project-description {
        line-height: 1.6; /* Increase the line height for readability */
    }
    /* -------------------------------------------------------------------------- */

    .footer-style {
        padding: 0% 0% 0% 45%;
        color: #fff; /* White text */
        background-color: #333; /* Dark grey background */
        align-self: center;
    }

    /* INTERESTS */
    /* -------------------------------------------------------------------------- */
    .tools-list {
        margin: 50px 10% 50px 10%; /* Add some margin to the top and bottom */
        display: flex; /* Display the content side by side */
        flex-flow: row wrap; /* Wrap the content */
        justify-content: space-between; /* Evenly space the li tags */
    }

    /* CONTACT */
    /* -------------------------------------------------------------------------- */
}

