html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------------------------------------------------*/

main {
    display: flex; /* Display the content side by side */
    flex-wrap: wrap; /* Wrap the content */
    justify-content: space-between; /* Space between the content */
    align-items: center; /* Center the content */
    padding: 0 0.5%; /* Adjust padding */
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
}

.Menu-text {
    display: none;
}

aside {
    width: 100%; /* Set the width of the sidebar */
    position: relative; /* Remove fixed position */
    z-index: 1; /* Stay on top */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0.05%;
    border-bottom: 1.5px solid #000000;
}

.aside-list {
    padding: 10% 10%; /* Adjust padding */
}

article {
    margin-left: 10%; /* Remove margin */
    padding: 5% 5%; /* Adjust padding */
}

.self-picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}


/* The "target" attribute is used to show the Home section */
.Home:target {
    display: block;
}

.Home:not(:target) {
    display: none;
}



@media screen and (min-width: 768px) {
    aside {
        width: 18%; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        top: 0; /* Stay at the top */
        left: 0;
        height: 100%; /* Full-height: remove this if you want "auto" height */
        border-right: 1.5px solid #000000;
    }

    article {
        padding: 10% 15% 5% 20%;
        height: 100%;
    }

    .footer-style {
        padding: 0% 0% 0% 45%
    }
}

